* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.App{
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader {
    width: 100vw;
    min-height: 100vh;
    background-color: #808080cc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 0.2rem solid #ffffff;
    border-top: 0.2rem solid #F77E21;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}